/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
}